<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <script type="text/javascript">
      <% if logged_in %>
        window.currentUser = <%=
          render("/api/users/show_user.json.jbuilder",
          user: current_user).html_safe
        %>
        <% else %>
        window.currentUser = undefined
      <% end %>
    </script>

    <script type="text/javascript">
      window.images = {
        defaultUserIcon: "<%= asset_path('default-user-icon.jpg') %>",
        defaultTrackIcon: "<%= asset_path('default-track-icon.jpg') %>",
        streamSidebarPicture: "<%= asset_path('you-are-what-you-listen-to.jpg') %>",
        trackImages: [ "<%= asset_path('track-images/track_1.jpg') %>",
                      "<%= asset_path('track-images/track_2.jpg') %>",
                      "<%= asset_path('track-images/track_3.jpg') %>",
                      "<%= asset_path('track-images/track_4.jpg') %>",
                      "<%= asset_path('track-images/track_5.jpg') %>",
                      "<%= asset_path('track-images/track_6.jpg') %>",
                      "<%= asset_path('track-images/track_7.jpg') %>",
                      "<%= asset_path('track-images/track_8.jpg') %>",
                      "<%= asset_path('track-images/track_9.jpg') %>",
                      "<%= asset_path('track-images/track_10.jpg') %>",
                      "<%= asset_path('track-images/track_11.jpg') %>",
                      "<%= asset_path('track-images/track_12.jpg') %>",
                      "<%= asset_path('track-images/track_13.jpg') %>",
                      "<%= asset_path('track-images/track_14.jpg') %>",
                      "<%= asset_path('track-images/track_15.jpg') %>",
                      "<%= asset_path('track-images/track_16.jpg') %>",
                      "<%= asset_path('track-images/track_17.jpg') %>",
                      "<%= asset_path('track-images/track_18.jpg') %>",
                      "<%= asset_path('track-images/track_19.jpg') %>",
                      "<%= asset_path('track-images/track_20.jpg') %>",
                      "<%= asset_path('track-images/track_21.jpg') %>",
                      "<%= asset_path('track-images/track_22.jpg') %>",
                      "<%= asset_path('track-images/track_23.jpg') %>",
                      "<%= asset_path('track-images/track_24.jpg') %>",
                      "<%= asset_path('track-images/track_25.jpg') %>"
                    ],
        userIcons: [  "<%= asset_path('user-images/user_1.jpg') %>",
                      "<%= asset_path('user-images/user_2.jpg') %>",
                      "<%= asset_path('user-images/user_3.jpg') %>",
                      "<%= asset_path('user-images/user_4.jpg') %>",
                      "<%= asset_path('user-images/user_5.jpg') %>",
                      "<%= asset_path('user-images/user_6.jpg') %>",
                      "<%= asset_path('user-images/user_7.jpg') %>",
                      "<%= asset_path('user-images/user_8.jpg') %>",
                      "<%= asset_path('user-images/user_9.jpg') %>",
                      "<%= asset_path('user-images/user_10.jpg') %>"
                    ]
      }
      window.audio = {
        defaultAudio: "<%= audio_path('default-track-audio.mp3') %>"
      }
    </script>

    <title>SoundWaves</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

  </head>

  <body>
    <main id='root'><h1>I can't believe you've done this!</h1></main>
  </body>
</html>

<!-- defaultUserIcon by Lee Campbell on Unsplash-->
<!-- defaultTrackIcon by Namroud Gorguis on Unsplash -->
<!-- defaultTrackArtwork by Wes Hicks on Unsplash -->
<!-- streamSidebrPicture by Mohammad Metri on Unsplash -->
