<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <script type="text/javascript">
      <% if logged_in %>
        window.currentUser = <%=
          render("/api/users/show_user.json.jbuilder",
          user: current_user).html_safe
        %>
        <% else %>
        window.currentUser = undefined
      <% end %>
    </script>

    <script type="text/javascript">
      window.images = {
        defaultUserIcon: "<%= asset_path('default-user-icon.jpg') %>",
        defaultTrackIcon: "<%= asset_path('default-track-icon.jpg') %>",
        defaultTrackArtwork: "<%= asset_path('default-track-index-artwork.jpg') %>",
        streamSidebarPicture: "<%= asset_path('you-are-what-you-listen-to.jpg') %>"
      }
      window.audio = {
        defaultAudio: "<%= audio_path('default-track-audio.mp3') %>"
      }
    </script>

    <title>SoundWaves</title>
    <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

  </head>

  <body>
    <main id='root'><h1>I can't believe you've done this!</h1></main>
  </body>
</html>

<!-- defaultUserIcon by Lee Campbell on Unsplash-->
<!-- defaultTrackIcon by Namroud Gorguis on Unsplash -->
<!-- defaultTrackArtwork by Wes Hicks on Unsplash -->
<!-- streamSidebrPicture by Mohammad Metri on Unsplash -->
